{% extends 'highchart.html' %}
{% load i18n %}
{% block title %}{% trans Chart %} {{object.name}}{% endblock title %}

{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
</ol>
{% endblock breadcrumbs %} 

{% block brandname %}
<div class="navbar-brand">
	<a href="{{object.network.homepage}}"><img
		src="/media/{{object.network.logo}}" /></a>
</div>
{% endblock %} 

{% block extrastyle %}
<style>
.navbar-brand a img {
	margin-top: -7px;
	max-height: 32px;
}
#status {
  padding-left: 4em;
}
</style>
{% endblock %}

{% block navbar-right %}
{% if nav.prev %}
<li><a href="{%url 'meetnet:chart-detail' nav.prev.id %}">{{nav.prev|title}}</a></li>
{% endif %}
{% if nav.next %}
<li><a href="{%url 'meetnet:chart-detail' nav.next.id %}">{{nav.next|title}}</a></li>
{% endif %}
 <li class="dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Reference" %}
   <b class="caret"></b></a>
   <ul class="dropdown-menu">
       <li><a href="#" onclick='setRef("nap")'>{% trans "NAP" %}</a></li>
       <li><a href="#" onclick='setRef("bkb")'>{% trans "Bovenkant buis" %}</a></li>
       <li><a href="#" onclick='setRef("mv")'>{% trans "Maaiveld" %}</a></li>
       <li><a href="#" onclick='setRef("okf")'>{% trans "Onderkant filter" %}</a></li>
       <li><a href="#" onclick='setRef("bkf")'>{% trans "Bovenkant filter" %}</a></li>
       <li><a href="#" onclick='setRef("sens")'>{% trans "Sensor" %}</a></li>
     </ul>
   </li>
 <li class="dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Aggregation" %}
   <b class="caret"></b></a>
   <ul class="dropdown-menu">
       <li><a href="#">{% trans "None" %}</a></li>
       <li><a href="#">{% trans "Auto" %}</a></li>
       <li><a href="#">{% trans "Months" %}</a></li>
       <li><a href="#">{% trans "Weeks" %}</a></li>
       <li><a href="#">{% trans "Days" %}</a></li>
       <li><a href="#">{% trans "Hours" %}</a></li>
     </ul>
   </li>

{% endblock %}

{% block script %}
{{ block.super }}

<script>

let queryParams;

// return dictionary of query parameters
function getQueryParams() {
  let key, value;
  // split querystring into components and convert to dictionary
  const query = location.search;
  if (query) {
	  return query.substr(1).split('&').reduce((result, term) => {
		  [key, value] = term.split('=');
		  result[key]=value;
		  return result;
	  },{})
  }
  else {
	  return {}
  }
}

// get query string from a dictionary
function getQueryString(params) {
	return Object.keys(params).map(key => `${key}=${params[key]}`).join('&');
}

// refresh view with new querystring
function refresh() {
	fetchAll();
}

/* set reference level */
function setRef(ref) {
	queryParams.ref = ref;
	return refresh();
}

/* set resampling rule */
function setRule(rule) {
	queryParams.rule = rule; 
	return refresh();
}

function fetchSeries(name,id) {
	var html = '<div id="screen'+id+'">Laden filter ' + name + '&hellip;</div>';
	$("#status").append(html);
	const query = getQueryString(queryParams);
	const url = `/net/data/${id}?${query}`;
    $.getJSON(url, function (data) {
//    $.getJSON('/net/data/'+id+'?{{request.GET.urlencode}}', function (data) {
	  	var chart = $('#container').highcharts();
	  	$.each(data,function(key,values) {
	  		if (values) {
	  			if (values.length > 0) {
			  		var series = chart.get(key);
			  		if (series) {
						series.setData(values);
			  		}
	  			}
	  		}
	  	})
    })
    .done(function(key,values) {
    	if (values.length == 0)
			$("#screen"+id).append('Geen gegevens');
    	else
			$("#screen"+id).append('Klaar');
    })
    .fail(function() {
		$("#screen"+id).append('Geen gegevens');
    })
    .always(function(){
		setTimeout(function(){$("#screen"+id).remove();},2000);
    });
}

function fetchAll() {
{% for s in object.screen_set.all %}
	fetchSeries("{{s}}","{{s.pk}}");
{% endfor %}
}

$(function () {
  var opt = {{options|safe}};
  opt.chart.events.load = fetchAll;
  opt.exporting = {
	        buttons: {
	            contextButton: {
	                menuItems: [{
	                    text: 'Download figuur',
	                    onclick: function () {
	                        this.exportChart();
	                    }
	                }, {
	                    text: 'Download tijdreeks',
	                    onclick: function () {
	            			window.location="{% url 'meetnet:download-well' object.id %}";
	                    },
	                    separator: false
	                }]
	            }
	        }
	  };
  
  queryParams = getQueryParams();
  
  chart = $('#container').highcharts(opt);
});
</script>
{% endblock %}

{% block content %}
{{ block.super }}
<br/>
<div class="text-center">
<a href="{% url 'meetnet:download-well' object.id %}" class="btn btn-primary active" data-toggle="tooltip" title="Tijdreeksen van deze put downloaden als csv bestand" id="download">Downloaden</a>
</div>
<div id="status"></div>
{% endblock %}